:root {
  --basic-black:#000000;
  --basic-grey: #C1C1C1;
  --basic-red: #FB565A;
  --basic-green: #00CA74;
  --basic-yellow: #EFC849;
  --basic-light-grey: #EEEEEE;
  --basic-red-active: #D7373B;
  --basic-red-hover: #E74246;
  --social-grey: #E1E1E1;
  --social-white: #FFFFFF;
}

.page {
  height: 100%;
}

body {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  min-height: 100%;
  min-width: 1440px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

a {
  text-decoration: none;
}

.hidden {
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.shop {;
  border-bottom: 2px solid var(--basic-red) ;
}

img {
  max-width: 100%;
  height: auto;
}


/*index*/
/* Header */

.main-header {
  padding-top: ;
  background-color: var(--basic-light-grey);
}

.main-header-logo img:hover {
  opacity: 0.7;
}
  
.main-header-logo img:active {
  opacity: 0.3;
}

.main-nav {
  margin-top: 49px;
  display: grid;
  grid-template-columns: 260px 1fr 260px;
  column-gap: 40px;
  align-items: center;
}

.site-nav li,
.basket {
  padding-bottom: 13px;
  padding-top: 26px;
  font-weight: 500;
}

.site-nav,
.basket {
  font-weight: 500;
  text-transform: uppercase;
  list-style: none;
  line-height: 30px;
}

.site-nav {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  min-width: 437px;
  margin-left: auto;
  margin-right: auto;
}

.site-nav a,
.basket{;
  color: var(--basic-black);
}

.site-nav a:hover,
.site-nav a:focus,
.basket:hover,
.basket:focus {
  color:var(--basic-red);
}

.site-nav a:active,
.basket:active {
  color: rgba(0, 0, 0, 0.3)
}

.basket {
  position: relative;
  padding-left: 40px;
  justify-self: end;
}

.basket::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  left: 0;
  top: 32px
}

/* index */
/* main */ /* slider */


.slider-title {
  padding-top: 72px;
  font-size: 55px;
  line-height: 55px;
  margin: 0;
  margin-bottom: 26px;
  font-weight: 700;
}

.slider {
  position: relative;
  background-color: var(--basic-light-grey);
}

.slider-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.slider-item {
  margin: 0;
  padding: 0;
}

.slide {
  display: none;
}

.slide-wrapper-1 {
  background-image: url(../img/nerds-index-slide1.png);
  background-repeat: no-repeat;
  background-position: right -5px;
  height: 431px;
}

.slide-wrapper-2 {
  background-image: url(../img/nerds-index-slide2.png);
  background-repeat: no-repeat;
  background-position: right;
  height: 431px;
}

.slide-wrapper-3 {
  background-image: url(../img/nerds-index-slide3.png);
  background-repeat: no-repeat;
  background-position: right;
  height: 431px;
}

.slide-current {
  display: block;
}

.slider-controls {
  position: absolute;
  left: 50%;
  position: absolute;
  bottom: 96px;
  background-size: 50%;
  margin-left: -44px
}

.slider-controls button {
  padding: 0;
  width: 18px;
  height: 18px;
  background-color: white;
  border: none;
  border-radius: 50px;
  margin-right: 13px;
  cursor: pointer;
}

.current {
  background-image: url(../img/ellipse.svg);
  background-repeat: no-repeat;
  background-position: center ;
}

.button {
  margin-top: ;
  background-color: var(--basic-red);
  text-transform: uppercase;
  color:var(--social-white);
  padding: 17px 56px 14px 54px;
  border-radius: 3px;
}

.button:hover {
  background-color: var(--basic-red-hover);
}

.button:active {
  background-color: var(--basic-red-active);
  color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.slider-item p:nth-child(2) {
  margin-bottom: 54px;
}


/* index */
/* main */ /* services */


.services {
  margin-top: 75px;
}

.list-services {
  margin: 0;
  padding: 0;
  width: 1100px;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.services h3 {
  text-transform: uppercase;
  font-size: 24px;
  margin-bottom:0 ;
}

.item-services p {
  margin-bottom: 46px;
}

.button-services {
  padding: 17px 40px 15px 41px;
}

/* index */
/* main */ /*features*/


.features {
  margin-top: 92px;
  border-top: 3px solid var(--basic-light-grey);
}

.features-grid {
  padding-top: 30px;
  display: grid;
  grid-template-columns: 654px 1fr;
  column-gap: 149px;
}

.features-grid-company {
  margin: 0;
  padding: 0;
  text-align: left;
}

.slogan {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  margin: 0;
  margin-top: 45px;
  margin-bottom: 32px;
}

.item-features {
  margin-bottom: 24px;
}

.text-uppercase {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 23px;
  margin-top: 40px;
}

.list-features {
  padding: 0;
  list-style: none;
}

.item-features {
  position: relative;
  padding-left: 36px;
}

.item-features::before{
  content: "";
  position: absolute;
  display: block;
  top: 12px;
  left: 0;
  width: 25px;
  height: 3px;
  background-image: url(../img/marker.png);
}

.statistics-features img {
  margin-top: 10px;
  margin-bottom: 30px;
}

.statistics-features p {
  margin: 0;
  margin-left: 14px;
  margin-bottom: 48px;
}

.list-statistics-features th {
  font-size: 45px;
  padding-right: 11px;
  padding-bottom: 30px;
}

.list-statistics-features td {
  line-height: 18px;
}


/* index */
/* main */ /*clients*/

.clients {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  border-top: 3px solid #EEEEEE;
  border-bottom: 3px solid #EEEEEE;
  height: 178px;
  align-items: center;
}

.clients a {
  position: relative;
  opacity: 0.2;
  margin-left: -34px;
  margin-top: 10px;
}

.clients a:hover {
  opacity: 0.9;
}

.clients a:active {
  opacity: 0.1;
}


/* index */
/*footer*//* contacts */

.footer-contacts {
  position: relative;
}

.main-footer h3 {
  font-size: 18px;
  font-weight: bold;
}

.contacts-phone {
  color: inherit;
}

.item-social {
  background-color:var(--social-grey);
  border-radius: 50%;
  width: 81px;
  height: 81px;
  margin-right: 9px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.item-social:last-child {
  margin-right: 0;
}

.footer-map {
  margin-top: 80px;
  width: 1440px;
  height: 416px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.footer-map-catalog {
  margin-top: 19px;
}

.contacts-list {
  position: absolute;
  background-color: white;
  width: 269px;
  height: 308px;
  left: 180px;
  top: 54px;
  padding-left: 50px;
}

.contacts-list h3 {
  margin-top: 54px;
  margin-bottom: 24px;
}

.contacts-list p {
  line-height: 18px; 
}

.footer-map-marker {
  width: 231px;
  height: 190px;
  position: absolute;
  top: 70px;
  right: 402px;
}

.button-contacts {
  margin-top: 34px;
  display: inline-block;
  padding: 13px 44px 13px 44px;
}

.vk:hover,
.fb:hover,
.insta:hover {
  background-color: var(--basic-red-hover);
  background: linear-gradient(0deg, #E74246, #E74246), #FFFFFF;
}

.vk:active,
.fb:active,
.insta:active {
  background-color: var(--basic-red-active);
  fill-opacity: 0.3;
  background: linear-gradient(0deg, #D7373B, #D7373B), #FFFFFF;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.cta-text {
  margin: 0;
  margin-top: 27px;
  font-weight: bold;
  font-size: 36px;
}

.footer-social {
  margin-top: 53px;
  margin-bottom: 68px;
  display: flex;
}

.list-social {
  min-width: 261px;
  list-style: none;
  margin: 0;
  padding:0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: 139px;
}


/*catalog*/

.container-catalog h1{
  font-weight: 700;
  font-size: 55px;
  line-height: 55px;
  text-align: center;
  background-color: var(--basic-light-grey);
  width: 100%;
  margin-top: 0;
  padding-top: 71px ;
  padding-bottom: 108px;
}

.catalog-grid {
  padding-top: 17px;
  display: grid;
  grid-template-columns: 260px 1fr;
  grid-template-rows: min-content min-content;
  column-gap: 141px;
}

/*catalog*/
/*main*//*filter*/

.filter {
  grid-row: 1/-1;
}

.slider-filter {
  border: none;
  margin: 0;
  padding: 0;
  margin-bottom: 57px;
}

.slider-filter legend {
  font-size: 18px;
  padding-top: 6px;
  text-transform: uppercase;
  font-weight: bold;
}

.price-slider-filter {
  width: 260px;
  margin-top: 49px;
}

.slider-filter-control {
  position: relative;
  height: 41px;
  background-color:var(--basic-light-grey);
  border-radius: 3px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-left: 20px;
  padding-right: 20px;
}

.slider-filter-control .scale {
  height: 2px;
  background-color: #d7dcde;
}

.slider-filter-control .bar {
  height: 2px;
  background-color: #00CA74;
  width: 70%;
}

.slider-filter-control .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  border: 8px solid var(--social-white);
  background: #ABABAB;
  border-radius: 50%;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.slider-filter-control .toggle-min {
  left:18px;
}

.slider-filter-control .toggle-max {
  left:160px;
}

.slider-price {
  display: flex;
  justify-content: space-between;
}

.slider-price label {
  text-transform: uppercase;
}

.slider-price input {
  width: 60px;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  border-radius: 3px;
  border: none;
  background-color:var(--basic-light-grey);
}

.list-net-filter {
  padding: 0;
  border:none;
  margin: 0;
  margin-bottom: 16px;
}

.list-net-filter ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 31px;
  padding-left: 33px;

}

.list-net-filter legend {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 16px;
}

.list-net-filter li {
  margin-bottom: 16px;
}

.list-net-filter label {
  position: relative;
  opacity: 0.4;
  cursor:pointer;
}

.item-net-filter + label::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 4px solid #4d4d4d;
  left: -35px;
}

.item-net-filter:checked + label::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #4d4d4d;
  left:-27px;
  top: 5px;
  background-size: 100%;
  }

.list-net-filter label:hover {
  opacity: 1;
}

.peculiarities-list-filter {
  padding: 0;
  margin: 0;
  border:none;
  margin-bottom: 32px;
}

.peculiarities-list-filter ul {
  margin: 0;
  padding:0;
  list-style: none;
  padding-left: 32px;
}

.peculiarities-list-filter legend {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 16px;
}

.peculiarities-list-filter li {
  margin-bottom: 16px;
}

.peculiarities-list-filter label {
  position: relative;
  cursor: pointer;
  opacity: 0.4;
}

.peculiarities-item-filter + label::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  border-radius: 10%;
  background: url(../img/checkbox-off.svg) no-repeat;
  left: -35px;
  top: -2px;
}

.peculiarities-item-filter:checked + label::before {
  display: none;
}

.peculiarities-item-filter:checked + label::after {
  content: "";
  position: absolute;
  height: 23px;
  width: 25px;
  left: -40px;
  background-image: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.peculiarities-list-filter label:hover {
  opacity: 1;
}

.button-filter {
  font-weight: bold;
  background-color: var(--basic-light-grey);
  color: var(--basic-black);
  border: none;
  padding: 17px 89px 15px 88px;
}

.button-filter:focus {
  background-color: #D5D5D5;
  color: rgba(0, 0, 0, 0.3);
}

.button-filter:hover {
  background-color: #DFDFDF;
}

.button-filter:active {
  background-color: #D5D5D5;
  color: rgba(0, 0, 0, 0.3);
}


/*catalog*/
/*main*//*sorting*/

.sorting {
  margin-bottom: 48px;
  display: flex;
  align-items: flex-start;
}

.sorting h2 {
  padding-top: 2px;
  margin: 0;
  margin-right: 266px;
}

.list-sorting {
  padding: 0;
  margin: 0;
  display: flex;
  width: 272px;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-right: 47px;
}

.button-sorting {
  width: 40px;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.button-sorting button {
  border: none;
  width: 11px;
  height: 10px;
  opacity: 0.2;
}

.button-sorting .arrow-down {
background: url(../img/icon-down.svg) no-repeat;
}

.button-sorting .arrow-up {
  background: url(../img/icon-up.svg) no-repeat;
}

.button-sorting button:hover {
  opacity: 0.5;
}

.button-sorting button:active {
  opacity: 1;
}

.sorting h2 {
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.list-sorting,
.list-sorting a {
  list-style: none;
  color: rgba(0, 0, 0, 0.3);
}

.list-sorting a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.list-sorting a:focus {
  color: var(--basic-black);
}


/*catalog*/
/*main*//*sample*/

.sample {
  width: 760px;
}

.list-sample {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin:0;
  padding: 0;
  justify-content: space-between;
}

.item-sample {
  position: relative;
  width: 360px;
  min-height:578px ;
  margin-bottom: 26px;
}

.item-sample:hover .sample-description {
  display: block;
}

.item-sample:hover .sample-header {
  opacity: 1;
}

.sample-header {
  width: 358px;
  height: 40px;
  background-color:#4d4d4d;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  align-items: center;
  opacity: 0.2;
}

.sample-description {
  display: none;
  position: absolute;
  background-color: var(--basic-light-grey);
  width: 358px;
  min-height: 200px;
  bottom: 3px;
  text-align: center;
  padding-top: 30px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
  
.sample-description p {
  line-height: 18px;
  margin-bottom: 29px;
}

.sample-description h3 {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}

.button-buy-sample {
  padding: 17px 74px 17px 75px;
  border: none;
}

.list-button-pages {
  display:flex;
  flex-wrap: wrap;
  margin-top: 38px;
  margin-right:11px;
  padding: 0;
  margin-right: 100px;
  list-style: none;
}

.item-button-pages {
  margin-right: 11px;
  margin-bottom: 37px;
  }

.list-button-pages a {
  color: var(--basic-black);
}

.item-buttom-pages {
  list-style: none;
  line-height: 79px;
}

.button-pages,
.button-pages-next {
  background-color:var(--basic-light-grey);
}

.button-pages:hover,
.button-pages-next:hover {
  background-color: #DFDFDF;
}

.button-pages:active,
.button-pages-next:active {
  background-color: #D5D5D5;
  color: rgba(0, 0, 0, 0.3);
}

.button-pages:focus,
.button-pages-next:focus {
  background-color:var(--social-white);
  color: rgba(0, 0, 0, 0.3);
  border: 3px solid #DFDFDF;
}

.button-pages {
  padding:  17px 20px 15px 20px;
}

.button-pages-next {
  padding:  17px 78px 15px 77px;
}


/*modal*/

.modal {
  position: fixed;
  top: 80px;
  left: 0;
  right: 0;
  width: 960px;
  height: 590px;
  margin: 0 auto;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
  background-color: white;
  display: none;
}

.container-footer {
  width: 761px;
  height: 353px;
  margin: 0 auto;
}

.feedback-form-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.feedback-form-flex div {
  width: 360px;
}

.feedback-form-flex input,
.feedback-text textarea {
  width: 326px;
  padding: 16px;
  margin-top: 9px;
  margin-bottom: 34px;
  border: 2px solid #D7DCDE;
  border-radius: 3px;
}

.modal-description {
  font-weight: bold;
  font-size: 45px;
  line-height: 53px;
}

.feedback-name,
.feedback-email,
.feedback-text {
  font-weight: bold;
}

.feedback-text textarea{
  padding: 16px;
  width: 728px;
  margin-top: 9px;
  margin-bottom: 47px;
  resize: none;
  border: 2px solid #D7DCDE;
  border-radius: 3px;
}

.feedback-form-flex input:hover,
.feedback-text textarea:hover {
  border-color: #B4B9BB;
}

.feedback-form-flex input:focus::placeholder,
.feedback-text textarea:focus::placeholder {
  color: black;
}

.feedback-form-flex input:focus::placeholder,
.feedback-text textarea:focus::placeholder {
  color: black;
}

.modal-button {
  border: none;
}

.modal-close {
  position: absolute;
  top:78px;
  right: 90px;
  width: 21px;
  height: 21px;
  border: none;
  background-color: transparent;
  background-image: url(../img/close-cross.svg);
  opacity: 0.3;
  cursor: pointer;
}

.modal-close:hover {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.1;
}