:root {
  --basic-black:#000000;
  --basic-grey: #C1C1C1;
  --basic-red: #FB565A;
  --basic-green: #00CA74;
  --basic-yellow: #EFC849;
  --basic-light-grey: #EEEEEE;
  --basic-red-active: #D7373B;
  --basic-red-hover: #E74246;
  --social-grey: #E1E1E1;
  --social-white: #FFFFFF;
}

.page {
height: 100%;
}

body {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  min-height: 100%;
  min-width: 1440px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

a {
  text-decoration: none;
}

.hidden {
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*index*/
/* Header */

img {
  max-width: 100%;
  height: auto;
}

.main-header {
  padding-top: 49px;
  background-color: var(--basic-light-grey);
}

.site-nav li,
.basket {
  padding-bottom: 13px ;
  padding-top: 15px;
  font-weight: 500;
}

.shop {
  border-bottom: 2px solid var(--basic-red) ;
}

.basket {
  position: relative;
  padding-left: 40px;
}

.basket::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  left: 0;
  top: 21px
}

.site-nav,
.basket {
  font-weight: 500;
  text-transform: uppercase;
  list-style: none;
  line-height: 30px;
}

.site-nav {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  min-width: 437px;
  margin-left: auto;
  margin-right: auto;
}

.site-nav a,
.basket{
  color: var(--basic-black);
}

.site-nav a:hover,
.site-nav a:focus,
.basket:hover,
.basket:focus {
  color:var(--basic-red);
}

.site-nav a:active,
.basket:active {
  color: rgba(0, 0, 0, 0.3)
}

/* grid-header*/

.main-nav {
margin-top: 49px;
display: grid;
grid-template-columns: 260px 1fr 260px;
column-gap: 40px;
align-items: center;
}

.basket {
  justify-self: end;
}

.main-header-logo img:hover {
opacity: 0.7;
}

.main-header-logo img:active {
  opacity: 0.3;
  }

/* main */
/*container*/

.container {
  width: 1160px;
  margin: 0 auto;
}

.slider-title {
  padding-top: 78px;
  font-size: 55px;
  line-height: 55px;
  margin-top: 0;
}

.slider {
  position: relative;
  background-color: var(--basic-light-grey);
}

.slider-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.slider-controls {
  position: absolute;
  left: 50%;
}

.slider-item {
  margin: 0;
  padding: 0;
}

.slide {
  display: none;
}

.slide-wrapper-1 {
background-image: url(../img/nerds-index-slide1.png);
background-repeat: no-repeat;
background-position: right;
height: 431px;
}

.slide-wrapper-2 {
  background-image: url(../img/nerds-index-slide2.png);
background-repeat: no-repeat;
background-position: right;
height: 431px;
}

.slide-wrapper-3 {
  background-image: url(../img/nerds-index-slide3.png);
background-repeat: no-repeat;
background-position: right;
height: 431px;
}

.slide-current {
  display: block;
}

.slider-controls {
  position: absolute;
  bottom: 76px;
  background-size: 50%;
  margin-left: -44px
}

.slider-controls button {
  padding: 0;
  width: 18px;
  height: 18px;
  background-color: white;
  border: none;
  border-radius: 50px;
  margin-right: 17px;
  cursor: pointer;
}

.current {
 background-image: url(../img/ellipse.svg);
 background-repeat: no-repeat;
 background-position: center ;
}

.button {
  margin-top: ;
  background-color: var(--basic-red);
  text-transform: uppercase;
  color:var(--social-white);
  padding: 17px 54px 15px 54px;
  border-radius: 3px;
}

.button:hover {
  background-color: var(--basic-red-hover);
}

.button:active {
  background-color: var(--basic-red-active);
  color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.slider-item p:nth-child(2) {
  margin-bottom: 38px;
}

/*services*/

.services {
  margin-top: 80px;
}

.list-services {
  margin: 0;
  padding: 0;
  width: 1100px;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.services h3 {
  text-transform: uppercase;
  font-size: 24px;
}

.button-services {
  line-height: 100px;
}

/*features*/

.features {
  margin-top: 80px;
  border-top: 3px solid var(--basic-light-grey);
}

.slogan {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.text-uppercase {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 31px;
}

.list-features {
  padding: 0;
  list-style: none;
}

.item-features {
  position: relative;
  padding-left: 32px;
}

.item-features::before{
  content: "";
  position: absolute;
  display: block;
  top: 12px;
  left: 0;
 width: 25px;
 height: 3px;
 background-image: url(../img/marker.png);
}

/*clients*/

/*grid-main*/

.features-grid {
  padding-top: 39px;
  display: grid;
  grid-template-columns: 651px 1fr;
  column-gap: 149px;
}

.features-grid-company {
margin: 0;
padding: 0;
text-align: left;
}

.item-features {
  margin-bottom: 24px;
  }

.list-statistics-features th {
font-size: 45px;
padding-right: 22px;
padding-bottom: 26px;
}

.list-statistics-features td {
  line-height: 18px;
}

.clients {
  margin-top: 73px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border-top: 3px solid #EEEEEE;
  border-bottom: 3px solid #EEEEEE;
  height: 184px;
  align-items: center;
}

.clients a {
  opacity: 0.2;
  justify-self: center;
}

.clients a:hover {
  opacity: 0.9;
}

.clients a:active {
  opacity: 0.1;
}


/*footer*/

.footer-contacts {
  position: relative;
}

.main-footer h3 {
  font-size: 18px;
  font-weight: bold;
}

.contacts-phone {
  color: inherit;
}

.item-social {
  background-color:var(--social-grey);
  border-radius: 50%;
  width: 81px;
  height: 81px;
  margin-right: 9px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.item-social:last-child {
  margin-right: 0;
}

.footer-map {
  margin-top: 80px;
  width: 1440px;
  height: 416px;
}

.contacts-list {
  position: absolute;
  background-color: white;
  width: 269px;
  height: 308px;
  left: 140px;
  top: 134px;
  padding-left: 50px;
}

.contacts-list h3 {
margin-top: 49px;
}

.footer-map-marker {
  width: 231px;
  height: 190px;
  position: absolute;
  top: 150px;
  right: 362px;
  
}

.button-contacts {
  margin-top: 37px;
  display: inline-block;
  padding: 17px 44px 15px 44px;
}

.vk:hover,
.fb:hover,
.insta:hover {
  background-color: var(--basic-red-hover);
  background: linear-gradient(0deg, #E74246, #E74246), #FFFFFF;
}

.vk:active,
.fb:active,
.insta:active {
  background-color: var(--basic-red-active);
  fill-opacity: 0.3;
  background: linear-gradient(0deg, #D7373B, #D7373B), #FFFFFF;
box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}


.cta-text {
  margin: 0;
  margin-top: 27px;
  font-weight: bold;
font-size: 36px;

}

.footer-social {
  margin-top: 68px;
  margin-bottom: 68px;
  display: flex;
}

.list-social {
  min-width: 261px;
  list-style: none;
  margin: 0;
  padding:0;
  display: flex;
  align-items: center;
  margin-right: 139px;
}
/*modal*/

.modal {
  position: fixed;
  top: 80px;
  left: 0;
  right: 0;
  width: 960px;
height: 590px;
margin: 0 auto;
box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
background-color: white;
display: none;
}

.container-footer {
  width: 761px;
height: 353px;
margin: 0 auto;
}

.feedback-form-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.feedback-form-flex div {
  width: 360px;
}


.feedback-form-flex input,
.feedback-text textarea {
  width: 326px;
  padding: 16px;
  margin-top: 9px;
  margin-bottom: 34px;
  border: 2px solid #D7DCDE;
  border-radius: 3px;
}

.modal-description {
font-weight: bold;
font-size: 45px;
line-height: 53px;
}

.feedback-name,
.feedback-email,
.feedback-text {
  font-weight: bold;
}

.feedback-text textarea{
  padding: 16px;
  width: 728px;
  margin-top: 9px;
  margin-bottom: 47px;
  resize: none;
  border: 2px solid #D7DCDE;
  border-radius: 3px;
}


.feedback-form-flex input:hover,
.feedback-text textarea:hover {
  border-color: #B4B9BB;
}

.feedback-form-flex input:focus::placeholder,
.feedback-text textarea:focus::placeholder {
  color: black;
}

.feedback-form-flex input:focus::placeholder,
.feedback-text textarea:focus::placeholder {
  color: black;
}

.modal-button {
border: none;
}

.modal-close {
  position: absolute;
  top:78px;
  right: 90px;
  width: 21px;
  height: 21px;
  border: none;
  background-color: transparent;
  background-image: url(../img/close-cross.svg);
  opacity: 0.3;
  cursor: pointer;
}

.modal-close:hover {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.1;
}



/*catalog*/
/*main*/
/*sorting*/

.container-catalog h1{
font-weight: 500;
font-size: 55px;
line-height: 55px;
text-align: center;
background-color: var(--basic-light-grey);
width: 100%;
margin-top: 0;
padding-top: 72px ;
padding-bottom: 108px;
}

.sorting h2 {
font-weight: bold;
font-size: 18px;
line-height: 30px;
text-transform: uppercase;
}

.list-sorting,
.list-sorting a {
  list-style: none;
  color: rgba(0, 0, 0, 0.3);
}

.list-sorting a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.list-sorting a:focus {
  color: var(--basic-black);
}

/*filter*/
.slider-filter {
  border: none;
  margin: 0;
  padding: 0;
  margin-bottom: 54px;
}

.slider-filter legend {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
}

.price-slider-filter {
  width: 260px;
  margin-top: 49px;
}

.slider-filter-control {
  position: relative;
  height: 41px;
  background-color:var(--basic-light-grey);
  border-radius: 3px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-left: 20px;
  padding-right: 20px;
}

.slider-filter-control .scale {
  height: 2px;
  background-color: #d7dcde;
}

.slider-filter-control .bar {
  height: 2px;
  background-color: #00CA74;
  width: 70%;
}

.slider-filter-control .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  border: 8px solid var(--social-white);
  background: #ABABAB;
  border-radius: 50%;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.slider-filter-control .toggle-min {
  left:18px;
}

.slider-filter-control .toggle-max {
  left:160px;
}

.slider-price {
  display: flex;
  justify-content: space-between;
}

.slider-price label {
  text-transform: uppercase;
}

.slider-price input {
  width: 60px;
  padding: 10px;
  margin-left: 10px;
  text-align: center;
  border-radius: 3px;
  border: none;
  background-color:var(--basic-light-grey);
}

.list-net-filter {
  padding: 0;
  border:none;
}

.list-net-filter ul {
  list-style: none;
  margin: 0;
  margin-bottom: 31px;
}

.list-net-filter legend {
  font-size: 18px;
text-transform: uppercase;
font-weight: bold;
margin-bottom: 16px;
}

.list-net-filter li {
  margin-bottom: 20px;
}

.list-net-filter label {
  position: relative;
  opacity: 0.4;
  cursor:pointer ;
}

.item-net-filter + label::before {
content: "";
position: absolute;
width: 20px;
height: 20px;
border-radius: 50%;
border: 4px solid #4d4d4d;
left: -40px;
}

.item-net-filter:checked + label::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #4d4d4d;
  left:-30.5px;
  top: 7px;
  background-size: 100%;
  }

  .list-net-filter label:hover {
    opacity: 1;
  }
  

.peculiarities-list-filter {
  padding: 0;
  border:none;
  margin-bottom: 32px;
}

.peculiarities-list-filter ul {
  margin: 0;
  list-style: none;
}

.peculiarities-list-filter legend {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 16px;
}

.peculiarities-list-filter li {
  margin-bottom: 19px;
}

.peculiarities-list-filter label {
  position: relative;
  cursor: pointer;
  opacity: 0.4;
}

.peculiarities-item-filter + label::before {
content: "";
position: absolute;
width: 23px;
height: 23px;
border-radius: 10%;
background: url(../img/checkbox-off.svg) no-repeat;
left: -40px;
top: -2px;
}

.peculiarities-item-filter:checked + label::before {
  display: none;
}

.peculiarities-item-filter:checked + label::after {
  content: "";
  position: absolute;
  height: 23px;
  width: 25px;
  left: -40px;
  background-image: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.peculiarities-list-filter label:hover {
opacity: 1;
}

.button-filter {
  font-weight: bold;
  background-color: var(--basic-light-grey);
  color: var(--basic-black);
 border: none;
 padding: 17px 89px 15px 88px;
}

.button-filter:focus {
  background-color: #D5D5D5;
  color: rgba(0, 0, 0, 0.3);
}

.button-filter:hover {
background-color: #DFDFDF;
}

.button-filter:active {
  background-color: #D5D5D5;
  color: rgba(0, 0, 0, 0.3);
}



  /*sample*/

  .list-sample {
    list-style: none;
  }

  .button-buy-sample {
 padding: 17px 72px 15px 72px;
 border: none;

  }

  .list-button-pages a {
    color: var(--basic-black);
  }

  .item-buttom-pages {
    list-style: none;
    line-height: 79px;
  }

  .sample-header {
    margin-bottom: -1px;
width: 358px;
height: 40px;
background-color:#4d4d4d;
border-top-left-radius: 3px;
border-top-right-radius: 3px;
align-items: center;
  }

.button-pages,
.button-pages-next {
  background-color:var(--basic-light-grey);

  }

.button-pages:hover,
.button-pages-next:hover {
  background-color: #DFDFDF;
  }

.button-pages:active,
.button-pages-next:active {
  background-color: #D5D5D5;
  color: rgba(0, 0, 0, 0.3);
}

.button-pages:focus,
.button-pages-next:focus {
  background-color:var(--social-white);
  color: rgba(0, 0, 0, 0.3);
  border: 3px solid #DFDFDF;
}

.button-pages {
  padding:  17px 20px 15px 20px;
}

.button-pages-next {
  padding:  17px 89px 15px 88px;
}

/*catalog-grid*/

.catalog-grid {
  display: grid;
  grid-template-columns: 260px 1fr;
  grid-template-rows: min-content min-content;
  column-gap: 141px;
 
}

.filter {
  grid-row: 1/-1;
}

.sorting {
  

  margin-bottom: 48px;
  display: flex;
  align-items: flex-start;
}

.sorting h2 {
  padding: 0;
  margin: 0;
  margin-right: 266px;
}

.list-sorting {
  padding: 0;
  margin: 0;
display: flex;
width: 272px;
justify-content: space-between;
flex-wrap: wrap;
margin-right: 47px;
}

.button-sorting {
  width: 40px;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.button-sorting button {
  border: none;
width: 11px;
height: 10px;
opacity: 0.2;
}

.button-sorting .arrow-down {
background: url(../img/icon-down.svg) no-repeat;
}

.button-sorting .arrow-up {
  background: url(../img/icon-up.svg) no-repeat;
  }

  .button-sorting button:hover {
   opacity: 0.5;
  }

  .button-sorting button:active {
    opacity: 1;
   }

.list-sample {
  
  display: flex;
  flex-wrap: wrap;
  margin:0;
  padding: 0;

 
}

.item-sample {
  position: relative;
  width: 360px;
  min-height:578px ;
  margin-bottom: 31px;
  margin-right: 39px;
}

.item-sample:nth-child(2n) {
  margin-right: 0
}

.sample-description {
 display: none;
 position: absolute;

 background-color: var(--basic-light-grey);
 width: 358px;
 bottom: 0;
  text-align: center;
  padding-bottom: 30px;
  padding-top: 10px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.sample-description p {
  line-height: 18px;
}
.sample-description h3 {
  text-transform: uppercase;
}

.item-sample:hover .sample-description {
  display: block;
}

.item-sample:hover .sample-header {
opacity: 0.2;
}

.list-button-pages {
  display:flex;
  margin-right:11px;
  padding: 0;
  margin-right: 100px;
  list-style: none;
}

.item-button-pages {
  margin-right: 11px;
  }